.DS_Store
.env*
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
.env_file
pipfile
pipfile.lock
.env_file
aws2-auth-patch.yml

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv

.github/**
